annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.11"
aws-lambda-powertools==2.36.0 ; python_version >= "3.10" and python_version < "3.11"
boto3==1.34.79 ; python_version >= "3.10" and python_version < "3.11"
botocore==1.34.79 ; python_version >= "3.10" and python_version < "3.11"
cachetools==5.3.3 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.16.0 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
coverage[toml]==7.4.4 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.8.1 ; python_version >= "3.10" and python_version < "3.11"
django-environ==0.10.0 ; python_version >= "3.10" and python_version < "3.11"
django-model-utils==4.5.0 ; python_version >= "3.10" and python_version < "3.11"
django-multiselectfield==0.1.12 ; python_version >= "3.10" and python_version < "3.11"
django==4.2.11 ; python_version >= "3.10" and python_version < "3.11"
djangorestframework==3.15.1 ; python_version >= "3.10" and python_version < "3.11"
drf-spectacular==0.26.5 ; python_version >= "3.10" and python_version < "3.11"
drf-yasg==1.21.7 ; python_version >= "3.10" and python_version < "3.11"
ecs-logging==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
elastic-apm==6.22.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
gevent==22.10.2 ; python_version >= "3.10" and python_version < "3.11"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation == "CPython"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.6 ; python_version >= "3.10" and python_version < "3.11"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "3.11"
markdown==3.6 ; python_version >= "3.10" and python_version < "3.11"
packaging==24.0 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
psycopg2==2.9.9 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.16.3 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.6.4 ; python_version >= "3.10" and python_version < "3.11"
pytest-cov==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
pytest-django==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.34.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.18.0 ; python_version >= "3.10" and python_version < "3.11"
s3transfer==0.10.1 ; python_version >= "3.10" and python_version < "3.11"
sentry-sdk==1.44.1 ; python_version >= "3.10" and python_version < "3.11"
setuptools==69.2.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version < "3.11" and python_version >= "3.10"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
waitress==2.1.2 ; python_version >= "3.10" and python_version < "3.11"
whitenoise==6.6.0 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.14.1 ; python_version >= "3.10" and python_version < "3.11"
zenpy==2.0.47 ; python_version >= "3.10" and python_version < "3.11"
zope-event==5.0 ; python_version >= "3.10" and python_version < "3.11"
zope-interface==6.2 ; python_version >= "3.10" and python_version < "3.11"
