annotated-types==0.5.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
asgiref==3.7.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
attrs==23.1.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
cachetools==5.3.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
certifi==2023.5.7 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
cffi==1.15.1 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.10.dev0" and python_version < "3.11.dev0"
charset-normalizer==3.1.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
colorama==0.4.6 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0" and sys_platform == "win32"
coverage[toml]==7.2.7 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
debugpy==1.6.7 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
django-environ==0.10.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
django-model-utils==4.3.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
django-multiselectfield==0.1.12 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
django==4.2.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
djangorestframework==3.14.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
drf-spectacular==0.26.4 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
drf-yasg==1.21.7 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
exceptiongroup==1.1.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
gevent==22.10.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
greenlet==2.0.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0" and platform_python_implementation == "CPython"
gunicorn==20.1.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
idna==3.4 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
inflection==0.5.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
iniconfig==2.0.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
jsonschema==4.19.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
markdown==3.4.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
packaging==23.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pluggy==1.0.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
psycopg2==2.9.6 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pycparser==2.21 ; python_version >= "3.10.dev0" and platform_python_implementation == "CPython" and sys_platform == "win32" and python_version < "3.11.dev0"
pydantic-core==2.0.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pydantic==2.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pytest-cov==4.1.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pytest-django==4.5.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pytest==7.3.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
python-dateutil==2.8.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pytz==2023.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pyyaml==6.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
referencing==0.30.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
requests==2.31.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
rpds-py==0.9.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
sentry-sdk==1.26.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
setuptools==67.8.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
six==1.16.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
sqlparse==0.4.4 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
tomli==2.0.1 ; python_version < "3.11.dev0" and python_version >= "3.10.dev0"
typing-extensions==4.6.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
tzdata==2023.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
urllib3==2.0.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
waitress==2.1.2 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
whitenoise==6.4.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
zenpy==2.0.25 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
zope-event==4.6 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
zope-interface==6.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
